.AAI-billboard {
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.AAI-billboard img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.AAI-billboard-top {
    margin-top: 0;
}

.AAI-billboard-middle {
    margin: 30px 0;
}

.AAI-billboard-bottom {
    margin-bottom: 0;
} 